/*  Reset / Normalize */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*  Root Variables */
:root {
  --font-main: 'Plus Jakarta Sans', sans-serif;
  --font-weight-light: 300;
  --font-weight-normal: 500;
  --font-weight-bold: 900;
  --font-size-link-hero: 18px;
  --font-size-hero-logo: 24px;
  --font-size-header-quote: 36px;
  --color-hero-footer-link-quote: #1F2937;
  --color-main-text: #F9FAF8;
  --color-secondary-link: #E5E7EB;
  --color-btn: #3882F6;
}

/* Global Styling */
body {
  margin: 0;
  font-family: var(--font-main);
  background-color: var(--color-hero-footer-link-quote);
  color: var(--color-main-text);
  line-height: 1.6;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li:hover {
  color: #94b5e2;
  transform: scale(1.1);
  transition: transform 0.3s ease-out;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

/* Navigation Mobile Layout */
header {
  background-color: #2b3d57;
  width: 100vw;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #2b3d57;
  padding: 1rem 2rem;
  width: 100vw;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin-top: 100px;
}

#nav-image-container {
  width: 100px;
}

ul {
  height: 100vh;
  width: min(80vw, 320px);
  margin: 0;
  padding: 1rem;
  background-color: #2b3d57;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: transform 0.5s ease-out;
}

ul li {
  text-align: center;
  padding: 0.5rem;
  margin-top: 2rem;
}

#nav-menu:target {
  transform: translateX(0);
}

#menu-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
}

#menu-overlay:has(~ #nav-menu:target) {
  visibility: visible;
}

/* Navigation Laptop Layout  */
@media (min-width: 760px) {
  
  ul {
    position: static;
    transform: translateX(0);
    display: flex;
    padding: 0;
    width: auto;
    height: auto;
  }

  ul li {
    margin: 0 1rem 0 0 ;
  }

  #open-menu {
    display: none;
  }
}

/* Navigation Desktop Layout */
@media (min-width: 1024px) {
  nav {
    padding: 0.5rem 3rem;
    font-size: 1.2rem;
  }

  #nav-image-container {
    width: 200px;
  }

}

/*  Hero Section Mobile Layout  */
#hero-section {
  padding: 1rem;
  text-align: center;
  height: 100vh;
  overflow: hidden;
}

#hero-section img {
  min-width: 0;
  object-fit: contain;
  
}

h1 {
  margin: 80px 0 0 0;
}


.hero-btn {
  margin-bottom: 2rem;
  padding: 0.6rem;
  width: 10rem;
  background-color: var(--color-btn);
  color: var(--color-main-text);
  border: none;
  border-radius: 0.5rem;
  font-weight: 700;
}

.hero-btn:hover, .hero-btn:active {
  box-shadow: 5px 5px 3px #3882f659;
  transform: translateY(-0.2rem);
  transition: transform 0.2s ease-out;
}

/* Hero Section Laptop Layout */
@media (min-width: 760px) {
  #hero-section {
    width: 80vw;
    margin-inline: auto;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100vh;
    text-align: start;
  }

  #hero-section img {
    min-width: 0;   
    object-fit: contain;
    aspect-ratio: 16 / 9;
    flex: 1;
    height: 50%;
  }

  .hero-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
  }

  h1, p, .hero-container button {
    margin: 0;
  }
}

/* Special Character Section Mobile Layout */
#special-char-section {
  scroll-margin-top: 80px;
  text-align: center;
  display: flex;
  flex-direction: column;
  
}

h2 {
  margin-bottom: 0;
}

hr {
  border: none;
  background-color: #2b3d57;
  height: 2px;
  margin-bottom: 2rem;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

figure img {
  width: 100%;
  max-width: 300px;
  border-radius: 50px;
  height: 250px;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

figcaption {
  width: 70vw;
  text-align: justify;
}

/* Special character section Laptop Layout */
@media (min-width: 768px) {

  #special-char-section h2 {
    font-size: 2.5rem;
  }

  #special-char-section {
    scroll-margin-top: 120px;
    align-items: center;
    margin-bottom: 2rem;
    justify-content: start;
  }

  #special-char-container {
    padding-top: 2rem;
    display: flex;
    width: 70vw;
    height: auto;
  }

  figcaption {
    width: auto;
    text-align: center;
  }

  figure {
    margin: 0 1.5rem 0 0;
    width: 100%;
  }

  figure img {
    padding: 1rem;
    background-color: #2b3d57;
    margin-bottom: 1rem;
  }
}

/* Quote Section Mobile Layout */
#quote-section {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#E5E7EB;
  color: #1F2937;
  text-align: justify;
  font-style: italic;
  scroll-margin-top: 64px;
}

#quote-section figure {
  min-width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1rem;
}

#quote-section blockquote {
  margin: 0;
  font-size: 1.4rem;
}

#quote-section figcaption {
  width: auto;
  font-weight: 700;
}



/* Quote Section Desktop Layout */
@media (min-width: 1024px){

  #quote-section figure {
    max-width: 60vw;
  }
}

/* Watch now section mobile layout */
#watch-now-section {
  min-height: 30vh;
  background-color: #F9FAF8;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#watch-now-section p {
  margin: 0;
}

#watch-now-section article {
  background-color: #3882F6;
  padding: 1.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 70vw;
}

#watch-now-section button {
  color: inherit;
  background-color: #3882F6;
  border: 2px solid #F9FAF8;
  padding: 0.7rem;
  border-radius: 1rem;
  font-weight: 700;
}

#watch-now-subheading {
  font-size: 1.3rem;
  font-weight: 700;
}

/* Watch now section desktop layout */
@media (min-width: 1024px) {
  #watch-now-section {
  min-height: 50vh;
}

  #watch-now-section article {
  min-width: 70vw;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2rem 4rem;
  gap: 2rem;
  }

}









