/*  Reset / Normalize */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*  Root Variables */
:root {
  --font-main: 'Plus Jakarta Sans', sans-serif;
  --font-weight-light: 300;
  --font-weight-normal: 500;
  --font-weight-bold: 900;
  --font-size-link-hero: 18px;
  --font-size-hero-logo: 24px;
  --font-size-header-quote: 36px;
  --color-hero-footer-link-quote: #1F2937;
  --color-main-text: #F9FAF8;
  --color-secondary-link: #E5E7EB;
  --color-btn: #3882F6;
}

/* Global Styling */
body {
  margin: 0;
  font-family: var(--font-main);
  background-color: var(--color-hero-footer-link-quote);
  color: var(--color-main-text);
  line-height: 1.6;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li:hover {
  color: #94b5e2;
  transform: scale(1.1);
  transition: transform 0.3s ease-out;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

/* Mobile Layout Header Navigation */
header {
  background-color: #2b3d57;
  width: 100vw;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #2b3d57;
  padding: 1rem 2rem;
  width: 100vw;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin-top: 100px;
}

#nav-image-container {
  width: 100px;
}

ul {
  height: 100vh;
  width: min(80vw, 320px);
  margin: 0;
  padding: 1rem;
  background-color: #2b3d57;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: transform 0.5s ease-out;
}

ul li {
  text-align: center;
  padding: 0.5rem;
  margin-top: 2rem;
}

#nav-menu:target {
  transform: translateX(0);
}

#menu-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
}

#menu-overlay:has(~ #nav-menu:target) {
  visibility: visible;
}

/* DESKTOP LAYOUT  */
@media (min-width: 760px) {
  ul {
    position: static;
    transform: translateX(0);
    display: flex;
    padding: 0;
    width: auto;
    height: auto;
  }

  ul li {
    margin: 0 1rem 0 0 ;
  }

  #open-menu {
    display: none;
  }
}